
.header{
  /*position: absolute;*/
  top: 10px;
  left: 0;
  width: 100%;
}

.log-out{
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}
.log-out a{
  margin-right: 10px;
}
.log-out a:hover{
  color: salmon;
}

h1{
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 30px;
  /*background-color: #039be5;*/
  color:  #039be5;
}
h1 i{
  font-size: inherit !important;
}

a{
  cursor: pointer;
}
td{
  position: relative;
}
td i{
  position: absolute;
  color: #cfd8dc;
  right: 10px;
}
td a:hover i{
  color: #039be5;
}
td label{
  font-size: 20px !important;
  padding-right: 30px;
}
#input_text{
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
}

::-webkit-input-placeholder{ /* Chrome */
  color: white;
}

:-ms-input-placeholder{ /* IE 10+ */
  color: white;
}

.character-counter{
  position: absolute;
  right: 25%;
  color: white;
  line-height: 56px;
}

input[type="checkbox"]:checked+label{
  text-decoration: line-through !important;
}


/*아이폰 6 이하 */

@media (max-width: 415px)  {
  .row .col.offset-s3 {
  margin-left: 0;
  }

  .row .col.s6 {
  width: 100%;
  }

  td label{
    font-size: 17px !important;
  }

  .row{
    margin-bottom: 0px;
  }
}
